/** General **/
.haphpy-icon-github:before {
    content: "\f09b";
}

.haphpy-icon-facebook:before {
    content: "\f082";
}

.haphpy-icon-twitter:before {
    content: "\f099";
}

.text-highlight {
    color: #f34141;
}

.fitting-image {
    width: 100%;
}

video {
    width: 100%;
}

/** Menu **/
#login-state span.fa {
    margin-right: 0.4em;
}

.translation-bridge-switcher ul.dropdown-menu {
    min-width: 0;
}

/** Header **/

header#header {
    padding: 80px 0 0 0;
}

header#header div {
    padding: 2%;
    max-width: 1140px;
    margin: 0 auto;
}

#haphpy-logo {
    width: 100%;
}

/** Gauge **/
#gauge-contributors, #gauge-remaining-days {
    color: #000000;
    text-align: center;
    padding-bottom: 1em;
}

#gauge-contributors span, #gauge-remaining-days span {
    font-size: 200%;
}
#gauge {
    position: relative;
    padding-top: 8px;
}

#gauge .progress {
    border-radius: 4px;
}

#gauge .progress-bar {
    border-radius: 0 4px 4px 0;
}

.gauge-step {
    position: absolute;
    top: 0;
    line-height: 24px;
    margin-left: -12px;
}

.gauge-step:last-child {
    margin-left: -16px;
}

.gauge-step-dot {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border-color: #ddd;
    border-style: solid;
    border-width: 8px;
}

.gauge-step-name {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 24px 0 0;
    white-space: nowrap;
}


@media screen and (max-width: 767px) {
    .gauge-step-name {
        display: none;
    }

    .gauge-step-dot:after {
        display: inline;
        position: absolute;
        right: 0;
        top: 0;
        padding: 16px 24px 0 0;
        white-space: nowrap;
    }

    .gauge-steps div:nth-of-type(1) .gauge-step-dot:after {
        content: '👍';
    }

    .gauge-steps div:nth-of-type(2) .gauge-step-dot:after {
        content: '🎉';
    }

    .gauge-steps div:nth-of-type(3) .gauge-step-dot:after {
        content: '😍';
    }
}
/** Form Steps */
.haphpy-step {
    position: relative;
}

.haphpy-step-number {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: lime;
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: -0.5em;
}

@media screen and (max-width: 767px) {
    .haphpy-step-number {
        margin-left: 0;
    }
}

.haphpy-step h3 {
    line-height: 2em;
    text-transform: none;
}

/** Form **/
ul.error-list {
    padding: 0;
}

.haphpy-radio {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.haphpy-radio input {
    cursor: pointer;
}

.haphpy-radio input:checked+label {
    color: #000000; /* black highlights better in elaostrap */
}

.haphpy-radio label {
    padding-left: 0.5em;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
}

/** User Groups **/
.user-group {
    display: flex;
    justify-content: space-between;
    padding-bottom:1.2em;
}

.user-group-image {
    width: 5em;
    height: 5em;
    position: relative;
}

.user-group-image img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-group-data {
    width: calc(100% - 5em);
    padding: 0 0 0 1em;
}

.user-group-data h4 {
    line-height: 1.2;
    margin: -0.2em 0 0 0;
}

/** Contributions **/
.contribution span {
    margin-right: 0.5em;
}
