/** General **/
.haphpy-icon-github:before {
    content: "\f09b";
}

.haphpy-icon-facebook:before {
    content: "\f082";
}

.haphpy-icon-twitter:before {
    content: "\f099";
}

/** Menu **/
#login-state span.fa {
    margin-right: 0.4em;
}

/** Header **/

header#header {
    padding: 80px 0 0 0;
}

header#header div {
    padding: 5%;
}

#haphpy-logo {
    width: 100%;
}

/** Steps */
.haphpy-step {
    position: relative;
}

.haphpy-step-number {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: lime;
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: -0.5em;
}

@media screen and (max-width: 767px) {
    .haphpy-step-number {
        margin-left: 0;
    }
}
.haphpy-step h3 {
    line-height: 2em;
    text-transform: none;
}

/** Form **/
ul.error-list {
    padding: 0;
}

.haphpy-radio {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.haphpy-radio input {
    cursor: pointer;
}

.haphpy-radio input:checked+label {
    color: #000000; /* black highlights better in elaostrap */
}

.haphpy-radio label {
    padding-left: 0.5em;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
}

/** Contributions **/
.contribution span {
    margin-right: 0.5em;
}
