/** Submission success page **/
#video-success {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: url(../images/audienc.jpg) no-repeat;
  background-size: cover;
}

#video-hue {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background:
    radial-gradient(circle, rgba(243,65,65,0.15), transparent 50%),
    linear-gradient(to bottom left, rgba(255,105,180,0.25), transparent, rgba(255,140,0,0.25)),
    linear-gradient(to right, rgba(30,144,255,0.25), rgba(243,65,65,0.15), rgba(143,188,143,0.25))
;
  background-size: cover;
}

#submission-success {
  margin-top: 2em;
  color: white;

  a.page-link {
    color: black;
    background-color: rgba(255,255,255,0.5);
    padding: 0.15em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    transition: background-color 0.5s;
    border-radius: 2px;
    font-size: 90%;
  }

  a.page-link:hover {
    background-color: rgba(255,255,255,1);
  }

  .row:first-child {
    margin-bottom: 10%;
  }

  h1 {
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    border-top: 2px #ffffff solid;
    border-bottom: 2px #ffffff solid;
    line-height: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 5%;
  }

  h1 + div.row {
    padding-top: 30px;
  }
}
