{% extends 'AppBundle::base.html.twig' %}

{% import "AppBundle:Macro:style.html.twig" as haphpy %}

{% block content %}
    <div class="container">
        <h3>{{ 'contributions.contributors_list'|trans }}</h3>
        <div class="row">
            {% for contribution in contributions %}
                <div class="col-sm-12 col-md-6 col-lg-3 contribution">
                        <span class="fa haphpy-icon-{{ contribution.authProvider }}"></span>{{ contribution.identifier }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
