/** About Page **/
#final-video {
  background-image: url(../images/galaxy_core.png);
  padding-top: 80px;

  h2 {
    text-align: center;
    text-transform: none;
    margin: 2em 0;
  }
}

#about-contributions h2 {
  color: #f34141;
  text-align: center;
  text-transform: none;
  margin: 2em 0;
}

#about-misc {
  background-image: url(../images/galaxy.png);
}
