a.auth-button span{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: #ffffff;
  background: red;
  text-align: center;
  display: inline-block;
  line-height: 2em;
  font-size: 180%;
  margin-top: 2em;
}
