/** examples **/

#examples {
  color: #ddd;
  background-image: url(../images/code.jpg);
  h2 {
    color: #ffffff;
  }
  h5 {
    color: #ddd;
  }
}

.sixteen-nine {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    box-shadow: 0 3px 6px 2px rgba(0,0,0,0.3);
  }

  > .content-image {
    background-position: center center;
    background-size: cover;
  }

  > .content-video .fitting-media {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
