/** General **/
.haphpy-icon-github:before {
  content: "\f09b";
}

.haphpy-icon-facebook:before {
  content: "\f082";
}

.haphpy-icon-twitter:before {
  content: "\f099";
}

.text-highlight {
  color: #f34141;
}

.text-highlight a {
  color: #f34141;
}

.fitting-media {
  width: 100%;
}

video {
  width: 100%;
}

a.differ {
  color: #333;
}

a.differ:hover {
  color: #f34141;
}

a.stand-out {
  color: #000;
}

a.stand-out:hover {
  color: #f34141;
}

.arobase:before {
  content: "@";
}

.color-success {
  color: green;
}

.color-danger {
  color: red;
}

.color-light {
  color: #a0a0a0;
}

.nowrap {
  white-space: nowrap;
}
