/** Public Contribution section **/
section#contribution-punchline {
  margin-top: 80px;
  padding-bottom: 0;

  h1 {
    margin-bottom: 1em;
  }
}

section#contribution {
  color: #666;
}

/** Admin list **/
section#admin-list {
  margin-top: 80px;
}

/** Footer **/
footer#footer {
  margin-top: 0;
}
