{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    <div class="haphpy-radio">
    {%- for child in form %}
        <div>
            {{- form_widget(child, {'disabled': disabled}) -}}
            {{- form_label(child) -}}
        </div>
    {% endfor -%}
    </div>
    </div>
{%- endblock choice_widget_expanded -%}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="error-list">
            {% for error in errors %}
                <li class="alert alert-danger">{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
