<html>
    <head>
        <title>{{ 'head.title'|trans }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/elaostrap.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/haphpy.css" />
    </head>
    <body>
        <header id="header">
            <img src="/assets/images/haphpy-birthday.svg" id="haphpy-logo">
        </header>

        {% block content %}

        {% endblock %}

        <script src="/assets/js/main.js"></script>
    </body>
</html>
