<html>
    <head>
        <title>{{ 'head.title'|trans }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    </head>
    <body>
        <header id="header">
            {{ 'general.title'|trans }}
        </header>

        {% block content %}

        {% endblock %}

        <script src="/assets/js/main.js"></script>
    </body>
</html>
